<a href="https://colab.research.google.com/github/simsekergun/DATA601/blob/main/2021Fall/Lecture02/DATA601Lecture02_extra1_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions
So far we've been using functions from the builtin module. In this lecture, we'll learn how to write our own functions, how to call them, etc.

In [ ]:
# Occasionally we've accessed functions in other modules using import. For example
import random
a = random.random()
print(a)

0.3793897272660197

### Basic function

In [ ]:
# Functions are a block begun with a function declaration or header:
def printit():
    print("Hello UMBC")

In [ ]:
# To call this function, we simply write
printit()

Hello UMBC

In [ ]:
# In a standard script, functions need to be defined before you use them. For example
def printit(text):
    print('You wrote:', text)

In [ ]:
# You can call a function as many times as you like
printit("Hi")
printit("How are you?")

You wrote: Hi
You wrote: How are you?

In [ ]:
# For mutable variables, changes inside the function change the variable outside:
def printit(text):
    text = text + ", Pikachu" # New text variable created.
    print(text)

In [ ]:
a = "I choose you"
printit(a)

I choose you, Pikachu

In [ ]:
# As text is immutable, the value in the list outside the method 
# is still  "I choose you".

### Passing info in

In [ ]:
# Python (unlike many languages) doesn't worry about the type passed in
def printit(var):
    print(str(var))

In [ ]:
printit("hello world")
printit(430)
printit(430.0)

hello world
430
430.0

### Getting values back

In [ ]:
# By default, functions invisibly return None (you can do so explicitly, 
# as is sometimes useful).
# But you can pass values back:
#
def get_pi():
    return 3.14159265359

In [ ]:
pi = get_pi()
print(pi)

3.14159265359

In [ ]:
type(pi)

float

### Multiple in, Single out

In [ ]:
def add(num1, num2):
    return num1 + num2

In [ ]:
answer = add(20,30)
answer

50

for multiple outputs, there are multiple options
use tuples, lists, or dictionaries as outputs
or use classes

### Defaults

In [ ]:
# You can set up default values if a parameter is missing:
def add(num1 = 0, num2 = 0):
    return num1 + num2

In [ ]:
print(add(3))
# With this type of parameter, positional arguments are allocated left to right, 
# so here, num1 is 3, and num2 is nothing.

3

### Keyword arguments

In [ ]:
# You can also name arguments, these are called keyword arguments or kwargs. 
def funct1(num1, num2):
    return 2*num1 + num2

In [ ]:
# Here we will swapp the order of the positional arguments 
# by naming the parameters to assign their values to.
print(funct1(num2 = 30, num1 = 50))

130

### Flexible parameterisation: *ARGS

In [ ]:
# You can allow for more positional arguments than you have parameters using *tuple_name
def sum (num1, num2, *others):
    sum = num1
    sum += num2
    for num in others:
        sum += num
    return sum

In [ ]:
print(sum(1,2,3,4,5,6,7))

28

### Iterable unpacking

In [ ]:
# You can equally use the * operator with lists or tuples to generate parameters.
#
# The * operator is an unpacking operator that will unpack the values 
# from any iterable object, such as lists, tuples, strings, et
def sum(*nums):
    sum = 0
    for num in nums:
        sum += num
    return sum

In [ ]:
a = [1, 2, 3, 5]
print(sum(*a))

11

In [ ]:
# How does * operator work? Read the following example
num_list = [1,2,3,4,5]
print(num_list)

[1, 2, 3, 4, 5]

In [ ]:
print(*num_list)

1 2 3 4 5

In [ ]:
# * operator makes merging example. First try this
num_list2 = [6,7,8]
new_list = [num_list,num_list2] # won't work
print(new_list)

[[1, 2, 3, 4, 5], [6, 7, 8]]

In [ ]:
new_list = [*num_list, *num_list2]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Packing with * Operator:
# We can also use the * operator to pack multiple values into a single variable
*names, = 'Michael', 'John', 'Nancy'
print(names)
# note the comma after "*names"

['Michael', 'John', 'Nancy']

In [ ]:
# To define functions that can receive a varying number of arguments
# we use *args and **kwargs

In [ ]:
def names_tuple(*args):
    return args
# No matter what number of positional arguments we pass in 
# when we call the names_tuple function, the *args argument 
# will pack the positional arguments into a tuple

In [ ]:
names_tuple('Michael', 'John', 'Nancy')

('Michael', 'John', 'Nancy')

In [ ]:
names_tuple('Jennifer', 'Nancy')

('Jennifer', 'Nancy')

### Flexible parameterisation: *KWARGS

In [ ]:
# The same can be done with **dict_name (** is the dictionary unpacking operator), 
# which will make a dictionary from unallocated kwargs
def print_details (a, **details):
    first = details["first"]
    surname = details["surname"]
    print (first + " " + surname + " has " + a + " pounds of gold")

In [ ]:
print_details("5", first="George", surname="Formby", age = "28")

George Formby has 5 pounds of gold

In [ ]:
# You can also use ** to create keyword arguments:
def print_details(a, first, surname):
    print (first + " " + surname + " has " + a + " pounds of apple!")

In [ ]:
d = {"first":"George","surname":"Formby"}
print_details("5",**d)

George Formby has 5 pounds of apple!

In [ ]:
# We can use the ** operator dictionary applications, e.g.
# let's assume we have a dictionary of bills
Ergun_Bills = {'Electricity': 100, 'Gas': 120, 'Internet': 90,'Water': 30}
Joe_Bills = {'Electricity': 140, 'Gas': 220, 'Internet': 80,'Water': 50}

In [ ]:
def monthly_total(Electricity,Gas,Internet,Water):
    return Electricity+Gas+Internet+Water

In [ ]:
# monthly_total(Ergun_Bills) ==> FAIL
# The correct method is using kwargs
monthly_total(**Ergun_Bills)

340

In [ ]:
monthly_total(**Joe_Bills)

490

In [ ]:
# you can merge dictionaries with **
weekdays = {'Mon':'Lunedi','Tue':'Martedi','Wed':'Mercelodi','Thu':'Jovedi','Fri':'Venerdi'}
weekendays = {'Sat':'Sabato','Sun':'Domenica'}
days = {**weekdays,**weekendays}
print(days)

{'Mon': 'Lunedi', 'Tue': 'Martedi', 'Wed': 'Mercelodi', 'Thu': 'Jovedi', 'Fri': 'Venerdi', 'Sat': 'Sabato', 'Sun': 'Domenica'}

## Nested functions

In [ ]:
# we can create functions within functions:
def a():
    print("1")
    def b():
        print("2")
    b()

In [ ]:
a()

1
2

In [ ]:
a = [1] # "a" can be declared here
for i in 1,2,3,4:
    a = [1] # or here.
    a[0] = i
    print (a)  # 1 ,2 ,3 ,4
print (a) # 4
print (i)

[1]
[2]
[3]
[4]
[4]
4

In [ ]:
def a ():
    b = 10
    print(b)
a()
print(b) # will fail

10

NameError: name 'b' is not defined

In [ ]:
b = 10
def a ():
    print(b)

In [ ]:
# guess what will happen
a()
print(b)

10
10

In [ ]:
b = 10
def a ():
    b = 20
    print(b)

In [ ]:
print(b)
a()
print(b)

10
20
10

In [ ]:
# SUGGESTION: Just use different names 
# if you don't want to worry about current value of your variables

### Global and Nonlocal

In [ ]:
b = 10
def a ():
    global b
    b = 20
    print(b)

In [ ]:
# what will happen now?
print(b)
a()
print(b) # compare this to previous one

10
20
20

In [ ]:
a = 1
def f1():
    a = 2
    def f2():
        a = 3
        print(a) # Prints 3.
    f2()
    print(a) # Prints 2 - but we'd like 3.

In [ ]:
# what will happen now?
f1()
print(a)

3
2
1

In [ ]:
a = 1
def f1():
    a = 2
    def f2():
        nonlocal a
        a = 3
        print(a) # Prints 3.
    f2()
    print(a) # Prints 3.

In [ ]:
f1()
print(a)

3
3
1

### PyDoc 
PyDoc is the documentation system distributed with Python.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(sorted.__doc__)

Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.